{
  "name": "deadreckon-linux-x64",
  "version": "__VERSION__",
  "description": "deadreckon binary for Linux x64.",
  "license": "MIT",
  "repository": {
    "type": "git",
    "url": "https://github.com/gregce/deadreckon.git"
  },
  "os": [
    "linux"
  ],
  "cpu": [
    "x64"
  ],
  "bin": {
    "deadreckon": "bin/deadreckon"
  },
  "files": [
    "bin/deadreckon",
    "bin/dr-gate",
    "bin/dr-capture",
    "bin/dr-gate-evaluator-aarch64-unknown-linux-musl",
    "bin/dr-gate-evaluator-x86_64-unknown-linux-musl"
  ]
}
